# From https://github.com/cowrie/cowrie/blob/master/etc/cowrie.cfg.dist
# ============================================================================
# General Cowrie Options
# ============================================================================
[honeypot]
sensor_name=sensor04
hostname=server01

[ssh]
#listen_endpoints=tcp:22:interface=0.0.0.0

[telnet]
enabled=true
#listen_endpoints=tcp:23:interface=0.0.0.0

[output_jsonlog]
enabled = false

[output_textlog]
enabled = true
logfile = /logs/cowrie.log
format = text

